NameVirtualHost *:80
NameVirtualHost *:443

<VirtualHost *:80>
    ##
    ## Server ID
    ##
    ServerName              ${VHOST_SERVER_NAME}
    ServerAlias             ${VHOST_SERVER_ALIAS}
    UseCanonicalName        On
    ServerAdmin             ${VHOST_SERVER_ADMIN}

    ##
    ## PUBLIC content served by this server
    ##
    DocumentRoot        	"${VHOST_DOCUMENT_ROOT}/wordpress"

    ##
    ## Home (Wordpress)
    ##
    <Directory "${VHOST_DOCUMENT_ROOT}/wordpress">
        DirectoryIndex  index.php
    	Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    <Directory "${VHOST_DOCUMENT_ROOT}/wordpress/wp-admin">
        SSLRequireSSL
        #SSLOptions      +StdEnvVars -StrictRequire
        #SSLVerifyClient optional
        #SSLVerifyDepth  1
    </Directory>


    ##
    ## Store (Prestashop)
    ##
    Alias "/store" "${VHOST_DOCUMENT_ROOT}/store"
    <Directory "${VHOST_DOCUMENT_ROOT}/store">
        DirectoryIndex  index.php
    	Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
    <Directory "${VHOST_DOCUMENT_ROOT}/store/admin3fep">
        SSLRequireSSL
        #SSLOptions      +StdEnvVars -StrictRequire
        #SSLVerifyClient optional
        #SSLVerifyDepth  1
    </Directory>
    

    ##
    ## CGM -> proxy to Local Perl Plack server on ${WWWPERL_SERVER_PORT}
    ##
    ProxyPass           ${WWWPERL_SERVER_ROOTURL}/      http://${WWWPERL_SERVER_IP}:${WWWPERL_SERVER_PORT}${WWWPERL_SERVER_ROOTURL}/      keepalive=On
    ProxyPass           ${WWWPERL_SERVER_ROOTURL}       http://${WWWPERL_SERVER_IP}:${WWWPERL_SERVER_PORT}${WWWPERL_SERVER_ROOTURL}       keepalive=On
    ProxyPassReverse    ${WWWPERL_SERVER_ROOTURL}/      http://${WWWPERL_SERVER_IP}:${WWWPERL_SERVER_PORT}${WWWPERL_SERVER_ROOTURL}/
    ProxyPassReverse    ${WWWPERL_SERVER_ROOTURL}       http://${WWWPERL_SERVER_IP}:${WWWPERL_SERVER_PORT}${WWWPERL_SERVER_ROOTURL}
    #ProxyPassMatch      ^/(cgm/.*)$     http://${WWWPERL_SERVER_IP}:${WWWPERL_SERVER_PORT}/$1        keepalive=On
    <Proxy *>
        Order allow,deny
        Allow from all
    </Proxy>
	
	
    <Directory ~ "\.svn">
    	Order allow,deny
    	Deny from all
  	</Directory>
  	
    <Directory ~ "\.git">
    	Order allow,deny
    	Deny from all
  	</Directory>
    
    ##
    ## Logging
    ##
    LogLevel info
    ErrorLog   "${VHOST_ERRORLOG}"
    CustomLog  "${VHOST_CUSTOMLOG_1}" "${VHOST_CUSTOMLOG_MODE_1}"
    CustomLog  "${VHOST_CUSTOMLOG_2}" "${VHOST_CUSTOMLOG_MODE_2}"
    
    FileETag    MTime Size
    
    RewriteEngine On
   
    #IncludeOptional ${VHOST_INCLUDE_OPTIONAL_1}
    #IncludeOptional ${VHOST_INCLUDE_OPTIONAL_2}
    
    SetEnv "DBSERVER" "${DBSERVER}"
    SetEnv "DBPORT"   "${DBPORT}"
</VirtualHost>



###
### Secure site for administration
###
<VirtualHost _default_:443>
    ServerName              ${VHOST_SERVER_NAME}
    ServerAlias             ${VHOST_SERVER_ALIAS}
    UseCanonicalName        On
    ServerAdmin             ${VHOST_SERVER_ADMIN}
    
    SSLEngine               On
    SSLProxyEngine          On
    SSLCertificateFile      "${WWW_CONF}/ssl/mutinytahiti.com.crt"
    SSLCertificateKeyFile   "${WWW_CONF}/ssl/mutinytahiti.com.key"
  	SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    

    ##
    ## PUBLIC content served by this server
    ##
    DocumentRoot        	"${VHOST_DOCUMENT_ROOT}/wordpress"


    ##
    ## Admin (Wordpress)
    ##
    <Directory "${VHOST_DOCUMENT_ROOT}/wordpress">
        DirectoryIndex  index.php
    	Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
        SSLRequireSSL
        #SSLOptions      +StdEnvVars -StrictRequire
        #SSLVerifyClient optional
        #SSLVerifyDepth  1
    </Directory>


    ##
    ## Admin Store (Prestashop)
    ##
    Alias "/store" "${VHOST_DOCUMENT_ROOT}/store"
    <Directory "${VHOST_DOCUMENT_ROOT}/store">
        DirectoryIndex  index.php
    	Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
        SSLRequireSSL
        #SSLOptions      +StdEnvVars -StrictRequire
        #SSLVerifyClient optional
        #SSLVerifyDepth  1
    </Directory>
    
    <Directory ~ "\.svn">
    	Order allow,deny
    	Deny from all
  	</Directory>
  	
    <Directory ~ "\.git">
    	Order allow,deny
    	Deny from all
  	</Directory>
    
    ##
    ## Logging
    ##
    LogLevel info
    ErrorLog   "${VHOST_ERRORLOG}"
    CustomLog  "${VHOST_CUSTOMLOG_1}" "${VHOST_CUSTOMLOG_MODE_1}"
    CustomLog  "${VHOST_CUSTOMLOG_2}" "${VHOST_CUSTOMLOG_MODE_2}"
    
    FileETag    MTime Size
    
    RewriteEngine On
    
    #IncludeOptional ${VHOST_INCLUDE_OPTIONAL_1}
    #IncludeOptional ${VHOST_INCLUDE_OPTIONAL_2}
    
    SetEnv "DBSERVER" "${DBSERVER}"
    SetEnv "DBPORT"   "${DBPORT}"
</VirtualHost>
